::-webkit-scrollbar {
  width: 0px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
a{
    color:grey !important;    
}
#brandP{
    color: black;
}
html, body{
    background: rgb(18, 18, 18);
}

#loadingGIF{
    margin-top:5%;
} 
#loadingGIF p{
    color:black;
    text-align:center;
} 

#blackInAside{
    display:none;
    position: fixed;
    z-index: 8;
    background:black;
    opacity:0;
}
#noComm{
    margin: 10% 0 0 0;
}

#politicsCB{
    margin-left:3%;
}

/* ------- NAVBAR ------- */
nav{
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 10;
    transition: 0;
}
    #navBarMain{
        display: flex;
        background: #d6c7c7;
    }
        #divNB1{
            width: 10%;
            background: rgb(255, 255, 255);
            display: flex;
            
        }   
            .hiddenHam{
                visibility: hidden;
            }
            .hiddenNoHam{
                visibility: visible;
            }
            #iconDiv{
                margin: auto;
            }

        #divNB2{
            width: 30%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }    
            #divNB2 p{
                text-align: center;
                margin: auto;
            }

        #divNB3{
            width: 60%;
            background: rgb(100, 69, 69);

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }     
            .buttonDiv{
                width: 100%;
                background: rgb(117, 0, 0);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            }
            .buttonDiv:hover{
                background: rgb(146, 0, 0);
                
            }
                .textButtonNB{
                    text-align: center;
                    margin: auto;
                    display: flex;
                }
                    #profileB{
                        font-size: 15px;
                    }
                    #notification{
                        border-radius: 999px;
                        background: red;
                        color: white;
                        font-size: 15px;
                    }

/* ------- ASIDE CONTENT ------- */
#asideContent{
    position: relative;
    transition: left 1000 linear;
}
    /* ------- ASIDE ------- */
    #asideLeft{
        border-right: 1px solid black;
        background: black;
        position: fixed;
        transition: left linear 0.25s, right linear 0.25s;
        z-index: 9;
    }
        #miAccount{
            width: 100%;
            background: rgb(126, 0, 0);
            padding: 5% 0;
        }
            #photoAside{
                padding: 10% 25% 5% 25%;
            }
                #photoAside img{border-radius: 10px;}
                #svgUser{
                    fill: white;
                }
            #accountInfo{
                text-align: center;
                width: 80%;
                margin: auto;
                padding-bottom: 2%;
                font-weight: 600;
                border-bottom: 1px solid rgb(189, 0, 0);
            }
                #username{
                    color:white;
                }
        #typesAside{
            border: 1px solid black;
            display: flex;
            background: #F9E9E9;
            
        }
            #containerTypes1{
                width: 100%;
                display: flex;
                padding: 5%;
                
            }
            #containerTypes{
                border: 1px solid black;
                background: rgb(24, 24, 24);
                box-shadow: 0 0 5px black;
                border-radius: 10px;
                width: 100%
            }
                #typesText{
                    padding: 4% 5%;
                    margin: auto;
                    margin-bottom: 5%;
                    border-bottom: 1px solid #696969;
                    width: 80%;
                }
                #typesDiv{
                    width: 80%;
                    margin-top:10%;
                    margin-left: 20%;
                }
                #unSortedL{
                    color:white;
                }
                    .typeButton{
                        padding: 2% 0;font-family: 'Montserrat', sans-serif !important;
                        background: rgb(24, 24, 24);
                    }
                    .selectBAside{
                        background: #540404;
                    }
                    .typeButton p, #allTypesButton p, #typesText p{
                        font-family:'Roboto', sans-serif !important;
                        color: #e6e6e6;
                    }
                    #allTypesButton{
                        padding: 2% 0;
                    }
                    .typeButton:hover, #allTypesButton:hover{
                        background: #540404;
                    }
                    .allTypesButton:hover{
                        background: rgb(226, 132, 132);
                    }

    /* ------- CONTENT ------- */
    #content{
        text-align: center;
        /*overflow: scroll;*/
        background: rgb(18, 18, 18);
        color: white;
    }
        /*#home{}*/
        #homeSec{
            background: #fafafa;
            overflow:hidden;
            border:2px solid #fafafa;
        }
            #sectionYouAre{
                padding: 2% 0 1% 0;
                border-bottom: 1px solid rgb(56, 56, 56);
                width: 90%;
                margin: auto;
            }
            #optionsComment{
                display:flex;
                justify-content: space-around;
                color: black;
            }
                #orderOptionsC{
                    width:30%;
                }
                #typesOptionsC{
                    width:30%;
                }
                #nextOptionsC{
                    width:30%;
                }
                    #leftArrowNO, #rightArrowNO{
                        padding: 0 5%;
                    }
                    #leftArrowNO:hover, #rightArrowNO:hover{
                        background: #005e7a;
                        border-radius:10px;
                    }
                    
                #orderOptionsC:hover{
                    background: #002530;
                    border-radius:10px;
                }
            #contentDataBase{
                overflow: scroll;
                width: 90%;
                margin: 5% auto;
                margin-top: 2%;
                padding-bottom: 15%;
                /*border-radius: 20px;*/
            }
            #strechHome{
                padding-bottom: 15%;
            }
                .commentDB{
                    background:#dedede;
                    border: 1px solid rgb(105, 105, 105);
                    border-top: 2px solid rgb(105, 105, 105);
                    border-bottom: 2px solid rgb(105, 105, 105);
                    border-radius: 1px;
                }
                    .information{
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                        margin: auto;
                        padding: 2% 0 1% 0;
                        border-bottom: 1px solid black;
                        
                    }
                        .tittle{
                            padding-left: 1%;
                            text-align: left;
                            width:70%;
                        }
                        .typeSec{
                            padding-right: 1%;
                            text-align: right;
                            
                        }
                    .juiceText{
                        width: 90%;
                        margin: auto;
                        text-align: left;
                        padding: 2% 5%;
                        overflow:scroll;
                    }
                    .buttonsAndInfo{
                        display: flex;
                    }
                        .idShowDiv{
                            width:20%;
                            margin: 4% 2% 1% 2%;
                            text-align: left;
                            vertical-align: -10px;
                            display: flex;
                            align-self: flex-end;
                        }
                            .pIDOwner{
                                
                                color: grey;
                                font-size: 12px;
                            }
                        .contactAnom{
                            width:80%;
                            display: flex;
                            justify-content: flex-end;
                            margin: 4% 2% 2% 2%;
                            
                            /*justify-content: center;*/
                        }
                            .textContact{
                                text-align: center;
                                border-radius: 999px;
                                border: 1px solid black;
                                width: 20%;
                                margin-left:3%;
                                background: rgb(220, 85, 85);
                            }
                            .textReply, .textShowReply, .textShowReplyNULL{
                                text-align: center;
                                border-radius: 1px;
                                color:black;
                                width: 25%;
                                margin-left:3%;
                                background: #ffcbba;
                            }
                            .textShowReply, .textShowReplyNULL{
                                text-align: center;
                                border-radius: 1px;
                                width: 40%;
                                color:black;
                                margin-left:3%;
                                background: #ff3d3d;
                            }
                            .textReply:hover{ background: #e6b9aa; }
                            .textShowReply:hover{ background: #e33434; }
                            #likeIcon{
                            }
                                #svgLike{
                                    
                                }
                .replyReplyDiv{
                    margin: 2% 0 0 0;
                    padding: 2% 1% 2% 2%;
                }
                .replyDiv{
                    margin: 2% 0 0 0;
                    padding: 2% 1% 2% 15%;
                }
                .loadReplysHere{
                    margin: 0;
                    padding: 1% 1% 1% 0;
                }
                    .contentReply{
                        /*width: 80% textReply ;*/
                        padding: 2% 0 1% 2%;
                        border-radius: 2px;
                        border: 1px solid black;
                        border-bottom: 3px solid black;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                    }
                        .divReplyClose{
                            display:flex;
                            justify-content: space-between;
                            flex-grow: 2;
                            margin-bottom:1%;
                            
                            flex: 1 0 20px;
                        }
                            .replyIdDiv{
                                width: 70%;
                                display: flex;
                                flex-wrap: wrap;
                            }
                                .divJuiceText{
                                    width: 100%;
                                }
                                    .pReplyL{
                                        text-align: left;
                                        font-size: 15px;
                                        margin-bottom:1%;
                                    }
                                .bottomID{
                                    display: flex;
                                    width: 100%;
                                }
                                    .idPReply{
                                        text-align: left;
                                        color: grey;
                                        font-size: 11px;
                                        align-self: flex-end;
                                    }
                            .buttonsReply{
                                /*display: flex;
                                justify-content: flex-end;*/
                                margin-bottom:1%;
                                width:29%;
                                margin-right:3%;
                                
                            }
                        .divWriteClose{
                            display:flex;
                            justify-content: space-between;
                            margin-bottom:1%;
                        }
                            .closeButton, .closeButtonReply{
                                margin-right:4%;
                                width:3%;
                            }
                            .closeButton:hover{ background:rgb(89, 89, 89); }
                            .closeButtonReply:hover{ background:rgb(89, 89, 89); }
                            .pWriteR{
                                text-align: left;
                                font-size: 15px;
                                margin-bottom:1%;
                                color:#ccc;
                            }
                            
                    .contentReply textarea{
                        width: 90%;
                        margin:auto;
                        border-radius: 4px;
                        padding:2%;
                        
                    }
                    .sendReplyDiv{
                        display: flex;
                        justify-content: flex-end;
                        margin: 2%;
                    }
                    .sendReplyP, .sendReplReplyP{
                        text-align: center;
                        width: 30%;
                        margin-left:3%;
                        /*background: rgb(220, 85, 85);*/
                        
                            border-radius: 1px;
                            color:black;
                            background: rgb(255, 198, 138);
                    }
                    .buttonReplyReply{
                        text-align: center;
                        border-radius: 2px;
                        display:inline-block;
                        width:90%;
                        background: rgb(255, 61, 61);
                        /*margin-right:5%;*/
                        margin: 2% auto;
                        color: black;
                    }
                    #showRRR, #hideR{
                        background: rgb(255, 203, 186);
                    }
                    #showRRR:hover, #hideR:hover{
                        background: rgb(217, 187, 172);
                    }
                    .sendReplyP:hover{
                        background: #D9BBAC;
                        
                    }
                    .buttonReplyReply:hover{
                        background: rgb(194, 62, 61);
                        
                    }
                    .sendReplReplyP:hover{
                        background: rgb(226, 132, 132);
                    }
        #writeSec{
            border: 1px solid rgb(30, 30, 30);
            
            flex-wrap: center;
            padding: 0 0 2% 0;
        }
            #writeDiv{
                margin: auto;
                background: rgb(35, 35, 35);
                border-radius: 10px;
                border: 1px solid rgb(0, 0, 0);;
                padding: 3%;
                padding-bottom: 5%;
                margin-bottom: 5%;
            }
            #divUpWrite{
                width: 95%;
                margin: auto;
                border-radius: 10px 10px 0 0 ;
                background: rgb(25, 25, 25);
                padding: 3% 0;
            }
            #divMWrite{
                width: 95%;
                margin: auto;
                background: rgb(25, 25, 25);
                padding: 3% 0;
            }
                #selectSub{
                    width:85%;
                    padding: 1%;
                    border-radius: 5px;
                }
            #divDownWrite{
                width: 95%;
                margin: auto;
                background: rgb(25, 25, 25);
                padding: 3% 0;
            }
                #divDownWrite textarea{
                    width: 90%;
                    border-radius: 4px;
                    margin-top:5%;
                }
                #writeDiv input{
                    padding: 1%;
                    border-radius: 5px;
                    width:80%;
                }
                #showPass, #showPass1, #showPass2{
                    margin-left:2%;
                }
                #buttonWri{
                    width: 90%;
                }
            #divButtonWrite{
                width: 95%;
                margin: auto;
                border-radius: 0 0 10px 10px;
                border-top: 1px solid black;
                background: rgb(25, 25, 25);
                padding: 3% 0;
            }
                #writeDiv p:first-child{
                    padding: 3%;
                }
                #writeDiv h4{
                    border-bottom: 1px solid white
                }
                .pInWrite{
                    padding: 0 !important;
                    margin: 0 !important;
                    font-size:24px;
                }
                #textAreaW{
                    padding:3%;
                }
                #inputTittleW{
                    width:90%;
                }
        #profileSec{

        }
            #profileDiv{
                display: flex;
                width: 90%;
                margin: auto;
                justify-content: space-between;/*|space-around|;*/
            }
                #myAccount{
                    background: rgb(54, 54, 54);
                    width: 50%;
                    border-radius: 10px;
                    margin: 1% auto;
                    margin-top: 5%;
                    padding: 1% 2%;
                }
                    #miUserName{
                        font-size: 20px;
                        width: 80%;
                        margin: auto;
                        border-bottom: 1px solid white;
                        margin-top: 2%;
                    }
                    #stadistics{
                        width: 50%;
                        margin: auto;
                        background: rgb(35, 35, 35);
                        border-radius: 10px;
                    }
                    #stadistics table{
                        width: 100%;
                        padding: 4% 5%;
                        
                        margin-top: 5%;
                    }
                    #stadistics td{
                        width: 50%;
                        text-align: right;
                    }
                    #stadistics td:first-child{
                        width: 50%;
                        text-align: left;
                    }
                    #logout{
                        background: rgb(54, 54, 54);
                        border-radius: 10px;
                        margin:  auto ;
                        margin-bottom:  5% ;
                        padding: 1% 2%;
                        width: 10%;
                    }
                    #logout:hover{ background: rgb(69, 69, 69); }
                    #passwordF{
                        background: rgb(54, 54, 54);
                        border-radius: 10px;
                        margin:  auto ;
                        margin-bottom:  5% ;
                        padding: 1% 2%;
                        width: 10%;
                    }
                    #passwordF:hover{ background: rgb(69, 69, 69); }
        #loginregisterform{
            margin: 0 auto;
            padding-top: 3%;
        }
        #switchLR{
            display:flex;
            width: 90%;
            margin: auto;
            border-top: 1px solid #696969;
            border-bottom: 1px solid #696969;
        }
            #logButton{
                background: #363535;
                width:30%;
                padding: 2% 0;
            }
            #regButton{
                background: #292929;
                width:50%;
                padding: 2% 0;
            }
            #notButton{
                background: #403c3c;
                width:30%;
                padding: 2% 0;
            }
            #logButton:hover, #regButton:hover, #notButton:hover{
                background: #5e5c5c;
            }
                #notificationDIV{
                    overflow: scroll;
                }
                #everyNotHere{
                    
                    width: 50%;
                    margin: auto;
                }
                    #notiP{
                        width: 80%; 
                        margin: auto; 
                        border-bottom:1px solid white;
                    }
                    #h4OwnComments{
                        text-decoration: underline;
                    }
                    #h4OwnComments:hover{
                        cursor: pointer
                    }
                    #h4Login{
                        text-decoration: underline;
                    }
                    #h4Login:hover{
                        cursor: pointer
                    }
                    #h4Reg{
                        text-decoration: underline;
                    }
                    #h4Reg:hover{
                        cursor: pointer
                    }
            
        #containerLR{
            /*display: flex;*/
            justify-content: space-around;
            padding: 2%;
            padding-top: 0;
        }
        #containerLR h2{
            margin: 5% 0 3% 0;
        }
            #containerLR form{
                background:rgb(25, 25, 25);
                border-radius:10px;
                padding: .5% 0 5% 0;
            }
            #containerLR h2{
                border-bottom:1px solid black;
                margin-bottom:5%;
            }
                    #loginForm{
                        border: 2px solid black;
                        border-radius:15px;
                        background:rgb(35, 35, 35);
                        padding: 0 2% 2% 2%;
                    }
                    #registerForm{
                        border: 2px solid black;
                        background:rgb(35, 35, 35);
                        padding: 2%;
                        border-radius:15px;
                    }
                    .formgroup{
                        margin-top: 8%
                    }
                    .formgroup p{
                        margin-bottom: 3%
                    }
                    .formgroup input{
                        padding: 1%;
                        border-radius: 5px;
                    }

                        #buttonReg{
                            width:90%;
                            background: rgb(221, 100, 66);
                            border:1px solid rgb(221, 100, 66);
                            margin: 15% 0 0 0;
                            padding:3% 0;
                        }
                        #buttonLog{
                            width:90%;
                            background: rgb(221, 100, 66);
                            border:1px solid rgb(221, 100, 66);
                            margin: 15% 0 0 0;
                            padding:3% 0;
                        }